main {
    padding: 1rem 10vw;
    .showcase {
        display: flex;
        gap: 10px;
        .sideBar {
            width: 300px;
            background: white;
            margin-top: -3rem;
            border: 2px solid rgba(216, 216, 216, 0.589);
            padding: 10px;
        }

        .product-categories {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto;
            gap: 5px;
            .category {
                width: 100%;
                height: 270px;
                background: red;
                border: 2px solid rgba(206, 205, 205, 0.658);
            }

            .category:nth-child(1) {
                width: 100%;
                height: 270px;
                background: url("../../../public/image/shoe-banner.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .category:nth-child(2) {
                width: 100%;
                height: 270px;
                background: url("../../../public/image/Screenshot\ 2023-09-07\ 192256.png");
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .category:nth-child(3) {
                width: 100%;
                height: 270px;
                background: url("../../../public/image/PHONE.png");
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .category:nth-child(4) {
                width: 100%;
                height: 270px;
                background: url("../../../public/image/Screenshot\ 2023-09-07\ 192440.png");
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    .services-container {
        padding: 3rem 3vw;
        display: flex;
        justify-content: space-between;
        .service-content {
            display: flex;
            align-items: center;
            gap: 10px;
            .service-icon {
                // width: 2rem;
                // height: 2rem;
                // background: url("../../../public/image/fast.svg");
                // background-position: center;
                // background-repeat: no-repeat;
                // background-size: cover;
            }

            .service-content-title {
                h4 {
                    font-size: 15px;
                }
                p {
                    font-size: 13px;
                    font-weight: 500;
                    color: gray;
                }
            }
        }
    }

    .quick-links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 10px;
        .quick-links-content {
            width: 100%;
            height: 180px;
            background: url("../../../public/image/new\ reve.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .quick-links-content:nth-child(2) {
            width: 100%;
            height: 180px;
            background: url("../../../public/image/03.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .quick-links-content:nth-child(3) {
            width: 100%;
            height: 180px;
            background: url("../../../public/image/04.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .flash-products {
        margin-top: 3rem;
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                color: rgb(58, 57, 57);
            }
            .see-more {
                span {
                    text-decoration: underline;
                }
            }
        }

        .products-deal-container {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 10px;
        }
    }

    .shopping-for-today {
        margin-top: 4rem;
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                color: rgb(58, 57, 57);
            }
            .see-more {
                span {
                    text-decoration: underline;
                }
            }
        }

        .shopping-container {
            .col-top {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                gap: 10px;
                margin-top: 2rem;

                .shopping {
                    width: 100%;
                    background: url("../../../public/image/Screenshot\ 2023-09-07\ 192256.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 400px;

                    &:nth-child(2) {
                        background: url("../../../public/image/Screenshot\ 2023-09-07\ 192440.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    &:nth-child(3) {
                        background: url("../../../public/image/PHONE.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }

            .col-two {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                gap: 10px;
                margin-top: 20px;

                .shopping {
                    display: flex;
                    gap: 20px;

                    .col-1,
                    .col-2 {
                        width: 100%;
                        text-align: center;
                        cursor: pointer;
                        .name {
                            margin-top: 10px;
                        }

                    }
                    .col-1{
                        .image {
                            width: 100%;
                            height: 150px;
                            background: url("https://theeyewitnessnews.com/wp-content/uploads/2023/06/Cars.jpg");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                    .col-2{
                        .image {
                            width: 100%;
                            height: 150px;
                            background: url("https://cdn.road.cc/sites/default/files/styles/main_width/public/2022-apple-watch-ultra.jpg");
                            background-position: bottom;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    main {
        padding: 1rem 5vw;

        .services-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
        }
    }
}

@media (max-width: 638px) {
    main {
        padding: 1rem 5vw;
        .showcase {
            .sideBar {
                display: none;
            }
        }

        .services-container {
            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 20px;
        }
    }
}

@media (max-width: 450px) {
    main {
        padding: 0rem 5vw;
        .showcase {
            .sideBar {
                display: none;
            }

            .product-categories {
                display: block;
                .category {
                    margin-top: 10px;
                }
            }
        }
    }
}
